DATABASE_URL="postgresql://postgres:password@localhost:5433/saturn?schema=public"
DATABASE_URL_TEST="postgresql://postgres:password@localhost:5433/saturn_test?schema=public"

JWT_ACCESS_KEY=some-access-jwt-key
JWT_REFRESH_KEY=some-refresh-jwt-key

FORGOT_PASSWORD_REDIRECT_URL=http://localhost:8000/forgot-password
EMAIL_VERIFICATION_REDIRECT_URL=http://localhost:8000/email/verificate

RABBITMQ_SERVER=amqp://localhost
RABBITMQ_EMAIL_QUEUE=saturn-email-queue

UPLOAD_SERVER_HOST=localhost:8000